<div mat-dialog-content class="content">
    <p>Create an item</p>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="item.name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="item.description">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Image</mat-label>
        <input matInput [(ngModel)]="item.image">
    </mat-form-field>
</div>
<div mat-dialog-actions class="actions">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" (click)="action()" cdkFocusInitial>Create</button>
</div>