<div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Moves</span>
        <span class="spacer"></span>
        <button (click)="openBulkCreateDialog()" mat-icon-button matTooltip="Bulk Create">
          <mat-icon>exposure_plus_2</mat-icon>
        </button>
        <button (click)="openCreateDialog()" mat-icon-button matTooltip="Create">
          <mat-icon>add</mat-icon>
        </button>
        <button (click)="openEditDialog()" *ngIf="selected.length == 1" mat-icon-button matTooltip="Edit {{ selected[0].name }}">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="openDeleteDialog()" *ngIf="selected.length" mat-icon-button matTooltip="Delete {{selected.length}}">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <div>
      <table mat-table matSort [dataSource]="moves" class="mat-elevation-z8">
  
        <ng-container matColumnDef="name">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>
      
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef> Category </th>
          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>
      
        <ng-container matColumnDef="power">
          <th mat-header-cell *matHeaderCellDef> Power </th>
          <td mat-cell *matCellDef="let element"> {{element.power}} </td>
        </ng-container>
      
        <ng-container matColumnDef="accuracy">
          <th mat-header-cell *matHeaderCellDef> Accuracy </th>
          <td mat-cell *matCellDef="let element"> {{element.accuracy}} </td>
        </ng-container>
      
        <ng-container matColumnDef="pp">
          <th mat-header-cell *matHeaderCellDef> Power Points </th>
          <td mat-cell *matCellDef="let element"> {{element.pp}} </td>
        </ng-container>
      
        <ng-container matColumnDef="priority">
          <th mat-header-cell *matHeaderCellDef> Priority </th>
          <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
        </ng-container>
      
        <ng-container matColumnDef="effect">
          <th mat-header-cell *matHeaderCellDef> Effect </th>
          <td mat-cell *matCellDef="let element"> {{element.effect}} </td>
        </ng-container>

        <ng-container matColumnDef="effect_chance">
          <th mat-header-cell *matHeaderCellDef> Effect Chance </th>
          <td mat-cell *matCellDef="let element"> {{element.effect_chance}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="handleSelect(row)" [class.isSelected]="isSelected(row)"></tr>
      
      </table>
    </div>
  </div>