<!--four colum table-->
<table>
  <tr>
    <th>Turn component</th>
    <th>Main Battle</th>
    <th>Turn Result</th>
    <th>Log</th>
  </tr>

  <tr>
    <td>
        <div cdkDropList class="turn-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let enemyPokemonturn of enemyTurns" cdkDrag>
                <img [src]="enemyPokemonturn?.image">
                <p>Speed: {{enemyPokemonturn?.stats?.speed}}</p>
            </div>
        </div>
    </td>
    <td>
      <table>
        <tr>
          <th>
            <button
              div
              *ngFor="let pokemon of enemySelectedPokemons; let i = index"
              (click)="showPokemonDialog(i)"
            >
              pokemon {{ i + 1 }}
              <br />
              <img *ngIf="pokemon" [src]="pokemon.image" />
            </button>
          </th>
        </tr>
        <tr>
          <th>
            <div>
              <table>
                <tr>
                    <!--ENEMY POKEMONS-->
                  <td *ngFor="let inBattle of inBattleEnemyPokemons; let i = index" >
                    <select (change)="onChange($event, i)" [value]="inBattle?._id" #pokemon>
                      <option value="none" [selected]="!inBattle">None</option>

                      <ng-template
                        *ngFor="let pokemon of enemySelectedPokemons; let i = index"
                        [ngIf]="pokemon"
                      >
                        <option [value]="i" [selected]="inBattle && inBattle.name == pokemon.name" *ngIf="pokemon">
                          {{ pokemon?.name }}
                        </option>
                      </ng-template>
                    </select>
                    <img [src]="inBattle?.image" />

                    <button>Death</button>
                    <mat-list role="list">
                      <mat-list-item role="listitem">
                        <select (change)="onChangeMove($event, 0, inBattle!)" #moveSelect0>
                          <ng-template
                            *ngFor="let move of inBattle?.moves "
                            [ngIf]="move"
                          >
                            
                            <option [value]="move" [selected]="inBattleEnemySelectedMoves[inBattle!._id!] && inBattleEnemySelectedMoves[inBattle!._id!][move] == 0">{{ move }}</option>
                          </ng-template>
                        </select>
                        <button (click)="showEnemyTargetDialog(pokemon.value, moveSelect0.value)">Select Target</button>
                      </mat-list-item>
                      <mat-list-item role="listitem">
                        <select (change)="onChangeMove($event, 1, inBattle!)" #moveSelect1>
                            <ng-template
                              *ngFor="let move of inBattle?.moves "
                              [ngIf]="move"
                            >
                              
                              <option [value]="move" [selected]="inBattleEnemySelectedMoves[inBattle!._id!] && inBattleEnemySelectedMoves[inBattle!._id!][move] == 1">{{ move }}</option>
                            </ng-template>
                          </select>
                          <button (click)="showEnemyTargetDialog(pokemon.value, moveSelect1.value)">Select Target</button>
                      </mat-list-item>
                      <mat-list-item role="listitem">
                        <select (change)="onChangeMove($event, 2, inBattle!)" #moveSelect2>
                            <ng-template
                              *ngFor="let move of inBattle?.moves "
                              [ngIf]="move"
                            >
                              
                              <option [value]="move" [selected]="inBattleEnemySelectedMoves[inBattle!._id!] && inBattleEnemySelectedMoves[inBattle!._id!][move] == 2">{{ move }}</option>
                            </ng-template>
                          </select>
                          <button (click)="showEnemyTargetDialog(pokemon.value, moveSelect2.value)">Select Target</button>
                      </mat-list-item>
                      <mat-list-item role="listitem">
                        <select (change)="onChangeMove($event, 3, inBattle!)" #moveSelect3>
                            <ng-template
                              *ngFor="let move of inBattle?.moves "
                              [ngIf]="move"
                            >
                              
                              <option [value]="move" [selected]="inBattleEnemySelectedMoves[inBattle!._id!] && inBattleEnemySelectedMoves[inBattle!._id!][move] == 3">{{ move }}</option>
                            </ng-template>
                          </select>
                          <button (click)="showEnemyTargetDialog(pokemon.value, moveSelect3.value)">Select Target</button>
                      </mat-list-item>
                    </mat-list>
                  </td>
                </tr>
                <!--USER POKEMONS-->
                <tr>
                  <td>
                    <img
                      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png"
                      alt="pokemon 1"
                    />
                    <button>Death</button>
                    <mat-list role="list">
                      <mat-list-item role="listitem">
                        <button>Move 1</button>
                      </mat-list-item>
                      <mat-list-item role="listitem">
                        <button>Move 2</button>
                      </mat-list-item>
                      <mat-list-item role="listitem">
                        <button>Move 3</button>
                      </mat-list-item>
                      <mat-list-item role="listitem">
                        <button>Move 4</button>
                      </mat-list-item>
                    </mat-list>
                  </td>
                  <td>
                    <img
                      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png"
                      alt="pokemon 1"
                    />
                    <button>Death</button>
                    <mat-list role="list">
                      <mat-list-item role="listitem">
                        <button>Move 1</button>
                      </mat-list-item>
                      <mat-list-item role="listitem">
                        <button>Move 2</button>
                      </mat-list-item>
                      <mat-list-item role="listitem">
                        <button>Move 3</button>
                      </mat-list-item>
                      <mat-list-item role="listitem">
                        <button>Move 4</button>
                      </mat-list-item>
                    </mat-list>
                  </td>
                </tr>
              </table>
            </div>
          </th>
        </tr>

        <tr>
          <button>pokemon 1</button>
          <button>pokemon 2</button>
          <button>pokemon 3</button>
          <button>pokemon 4</button>
          <button>pokemon 5</button>
          <button>pokemon 6</button>
        </tr>
        <tr>
          <mat-form-field>
            <mat-label>Pokemon Teams</mat-label>
            <mat-select (selectionChange)="onChangeTeam($event.value)">
              <mat-option *ngFor="let team of teams" [value]="team">
                {{ team?.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </tr>
      </table>
    </td>
    <td>
        <div role="list">
            <div *ngFor="let battleLog of battleLogs ; let i = index">
                <div *ngFor="let target of battleLog.targets; let j = index">
                    <p>{{battleLog.trainer}} {{battleLog.user.name}} Use {{battleLog.move}} Againts {{battleLog.targets[j].name}} </p>
                    <p >{{battleLog.targets[j].name}}</p>
                    <mat-slider min="0" max="100" step="1" value="100">
                        <input matSliderThumb>
                    </mat-slider>
                    <button (click)="deleteResult(i,j)">
                        Delete
                    </button>
                    <button (click)="addResult(i,j,10)">
                        Send
                    </button>
                </div>
                <div *ngIf="battleLog.selfDamage">
                    <p>{{battleLog.trainer}} {{battleLog.user.name}} Use {{battleLog.move}} Againts {{battleLog.selfDamage.name}} </p>
                    <p >{{battleLog.targets[i].name}}</p>
                    <mat-slider min="0" max="100" step="1" value="100">
                        <input matSliderThumb>
                    </mat-slider>
                    <button (click)="deleteResult(i,-1)">
                        Delete
                    </button>
                    <button (click)="addResult(i,-1,10)">
                        Send
                    </button>
                </div>
            </div>
        </div>
            
    </td>
    <td>
      <textarea id="log" rows="50" cols="30" disabled></textarea>
      <br>
      <button (click)="downloadLog()">download</button>
    </td>
  </tr>
</table>
