@import '../../../../styles/variables';
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $negativeColor;
    & li{
        &.active{
            background-color: $primaryColor;
        }
        display: list-item;
        float: left;
        font-size: 15px;
        line-height: 1.5;
        & a{
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
    }
}

