@import '../../../../styles/grid';
@import '../../../../styles/variables';

:host{
  display: inline-block;
  width: 100vw;

}
.slots{
  position: sticky;
  top: 0;
  z-index: 3;
  background: $positiveColor;
  border-radius: 10px;
}

.grid {
  @extend .container;
  
  .line {
    @extend .row;
    
    .pokemon-slot {
      @include col(4);
    }
  }
}