:host{
    max-width: 100%;
}

.header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

:host.isSelected mat-card {

    background-color: inherit;

}

.card{
	position: relative;
	p{
		position: absolute;
		top: 0;
		left: 0;
		color: white;
	}
}