@import '../../../../styles/grid';
@import '../../../../styles/variables';

:host{
  display: inline-block;
  width: 100vw;
}

section{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .spacer {
        flex: 1 1 auto;
    }
    mat-toolbar{
        position: sticky;
        top: 0;
    } 
}

.grid {
  @extend .container;
  
  .line {
    @extend .row;
    
    .pokemon {
      .isSelected{
        background-color: $primaryColor;
      }
      @media (min-width: $breakpoint-small) {
        @include col(4);
      }

      @media (min-width: $breakpoint-medium) {
        @include col(3);
      }

      @media (min-width: $breakpoint-large) {
        @include col(1);
      }
    }
  }
}