<mat-card>
    <mat-card-content>
        <form (ngSubmit)="resetPasswordToken()">
            <mat-form-field>
                <mat-label>email</mat-label>
                <input matInput placeholder="email@example.com" [formControl]="email" type="email" required>
                <mat-error *ngIf="email.invalid">{{emailError()}}</mat-error>
              </mat-form-field>

            <app-loading-button [loading]="loading" [disabled]="email.invalid || loading">Reset Password</app-loading-button>

        </form>
    </mat-card-content>
</mat-card>4