<div mat-dialog-content class="content">
    <p>Create a type</p>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="type.name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Color</mat-label>
        <input matInput [(ngModel)]="type.color">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Image</mat-label>
        <input matInput [(ngModel)]="type.image">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Teracrystal Image</mat-label>
        <input matInput [(ngModel)]="type.teracrystalImage">
    </mat-form-field>
</div>
<div mat-dialog-actions class="actions">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" (click)="action()" cdkFocusInitial>Create</button>
</div>