<div mat-dialog-content class="content">
    <p>Create an Ability</p>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="ability.name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Effect</mat-label>
        <input matInput [(ngModel)]="ability.effect">
    </mat-form-field>
</div>
<div mat-dialog-actions class="actions">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="ability" cdkFocusInitial>Create</button>
</div>